--
-- PostgreSQL database dump
--

\restrict pwebZuDVcUJdmFpIhaLb3xi1cx1NR7dB48ffe9CYDaTNHFXL3wZkYLZU5AMMEFG

-- Dumped from database version 18.6
-- Dumped by pg_dump version 18.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN



    NEW.updated_at = CURRENT_TIMESTAMP;



    RETURN NEW;



END;

$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ai_models; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ai_models (
    model_id integer NOT NULL,
    model_name character varying(150) NOT NULL,
    model_type character varying(80) NOT NULL,
    version character varying(50) NOT NULL,
    framework character varying(80),
    description text,
    training_dataset character varying(200),
    accuracy_score numeric(7,4),
    precision_score numeric(7,4),
    recall_score numeric(7,4),
    f1_score numeric(7,4),
    status character varying(30) DEFAULT 'ACTIVE'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.ai_models OWNER TO postgres;

--
-- Name: ai_models_model_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ai_models_model_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ai_models_model_id_seq OWNER TO postgres;

--
-- Name: ai_models_model_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ai_models_model_id_seq OWNED BY public.ai_models.model_id;


--
-- Name: ai_priority_predictions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ai_priority_predictions (
    prediction_id bigint NOT NULL,
    task_id integer NOT NULL,
    model_id integer,
    model_name character varying(150) NOT NULL,
    model_version character varying(50),
    predicted_score numeric(6,2),
    predicted_priority character varying(20),
    confidence_score numeric(5,2),
    feature_data jsonb,
    explanation text,
    prediction_time timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT chk_prediction_priority CHECK (((predicted_priority)::text = ANY ((ARRAY['LOW'::character varying, 'MEDIUM'::character varying, 'HIGH'::character varying, 'CRITICAL'::character varying])::text[])))
);


ALTER TABLE public.ai_priority_predictions OWNER TO postgres;

--
-- Name: ai_priority_predictions_prediction_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ai_priority_predictions_prediction_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ai_priority_predictions_prediction_id_seq OWNER TO postgres;

--
-- Name: ai_priority_predictions_prediction_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ai_priority_predictions_prediction_id_seq OWNED BY public.ai_priority_predictions.prediction_id;


--
-- Name: api_request_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_request_logs (
    request_id bigint NOT NULL,
    user_id integer,
    endpoint character varying(250),
    http_method character varying(20),
    status_code integer,
    response_time_ms integer,
    ip_address character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.api_request_logs OWNER TO postgres;

--
-- Name: api_request_logs_request_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.api_request_logs_request_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.api_request_logs_request_id_seq OWNER TO postgres;

--
-- Name: api_request_logs_request_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.api_request_logs_request_id_seq OWNED BY public.api_request_logs.request_id;


--
-- Name: asset_categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.asset_categories (
    category_id integer NOT NULL,
    category_code character varying(50) NOT NULL,
    category_name character varying(150) NOT NULL,
    department_id integer,
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.asset_categories OWNER TO postgres;

--
-- Name: asset_categories_category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.asset_categories_category_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.asset_categories_category_id_seq OWNER TO postgres;

--
-- Name: asset_categories_category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.asset_categories_category_id_seq OWNED BY public.asset_categories.category_id;


--
-- Name: asset_sensor_readings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.asset_sensor_readings (
    reading_id bigint NOT NULL,
    asset_id integer NOT NULL,
    sensor_type character varying(100) NOT NULL,
    sensor_value numeric(15,5),
    unit character varying(30),
    threshold_min numeric(15,5),
    threshold_max numeric(15,5),
    anomaly_detected boolean DEFAULT false,
    reading_time timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.asset_sensor_readings OWNER TO postgres;

--
-- Name: asset_sensor_readings_reading_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.asset_sensor_readings_reading_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.asset_sensor_readings_reading_id_seq OWNER TO postgres;

--
-- Name: asset_sensor_readings_reading_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.asset_sensor_readings_reading_id_seq OWNED BY public.asset_sensor_readings.reading_id;


--
-- Name: assets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assets (
    asset_id integer NOT NULL,
    section_id integer,
    category_id integer,
    department_id integer NOT NULL,
    asset_code character varying(60) NOT NULL,
    asset_name character varying(200) NOT NULL,
    asset_type character varying(100) NOT NULL,
    location_km numeric(10,3),
    installation_date date,
    last_maintenance_date date,
    next_maintenance_date date,
    condition_score numeric(5,2),
    criticality_level character varying(20) DEFAULT 'MEDIUM'::character varying,
    operational_status character varying(40) DEFAULT 'OPERATIONAL'::character varying,
    manufacturer character varying(150),
    model_number character varying(100),
    expected_life_years integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT chk_asset_criticality CHECK (((criticality_level)::text = ANY ((ARRAY['LOW'::character varying, 'MEDIUM'::character varying, 'HIGH'::character varying, 'CRITICAL'::character varying])::text[]))),
    CONSTRAINT chk_asset_status CHECK (((operational_status)::text = ANY ((ARRAY['OPERATIONAL'::character varying, 'DEGRADED'::character varying, 'FAILED'::character varying, 'UNDER_MAINTENANCE'::character varying, 'RETIRED'::character varying])::text[])))
);


ALTER TABLE public.assets OWNER TO postgres;

--
-- Name: assets_asset_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.assets_asset_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.assets_asset_id_seq OWNER TO postgres;

--
-- Name: assets_asset_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.assets_asset_id_seq OWNED BY public.assets.asset_id;


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    audit_id bigint NOT NULL,
    user_id integer,
    action character varying(100) NOT NULL,
    entity_type character varying(100),
    entity_id integer,
    old_data jsonb,
    new_data jsonb,
    ip_address character varying(50),
    user_agent text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: audit_logs_audit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.audit_logs_audit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_logs_audit_id_seq OWNER TO postgres;

--
-- Name: audit_logs_audit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.audit_logs_audit_id_seq OWNED BY public.audit_logs.audit_id;


--
-- Name: block_approvals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.block_approvals (
    approval_id integer NOT NULL,
    plan_id integer NOT NULL,
    block_id integer NOT NULL,
    requested_by integer,
    reviewed_by integer,
    approval_status character varying(30) DEFAULT 'PENDING'::character varying,
    comments text,
    requested_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    reviewed_at timestamp without time zone,
    CONSTRAINT chk_approval_status CHECK (((approval_status)::text = ANY ((ARRAY['PENDING'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying])::text[])))
);


ALTER TABLE public.block_approvals OWNER TO postgres;

--
-- Name: block_approvals_approval_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.block_approvals_approval_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.block_approvals_approval_id_seq OWNER TO postgres;

--
-- Name: block_approvals_approval_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.block_approvals_approval_id_seq OWNED BY public.block_approvals.approval_id;


--
-- Name: block_windows; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.block_windows (
    block_id integer NOT NULL,
    section_id integer NOT NULL,
    block_date date NOT NULL,
    start_time time without time zone NOT NULL,
    end_time time without time zone NOT NULL,
    available_duration_minutes integer,
    block_type character varying(60),
    availability_status character varying(30) DEFAULT 'AVAILABLE'::character varying,
    max_allowed_departments integer DEFAULT 3,
    operational_restrictions text,
    safety_buffer_minutes integer DEFAULT 15,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT chk_block_status CHECK (((availability_status)::text = ANY ((ARRAY['AVAILABLE'::character varying, 'RESERVED'::character varying, 'USED'::character varying, 'CANCELLED'::character varying, 'UNAVAILABLE'::character varying])::text[]))),
    CONSTRAINT chk_block_time CHECK ((end_time > start_time))
);


ALTER TABLE public.block_windows OWNER TO postgres;

--
-- Name: block_windows_block_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.block_windows_block_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.block_windows_block_id_seq OWNER TO postgres;

--
-- Name: block_windows_block_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.block_windows_block_id_seq OWNED BY public.block_windows.block_id;


--
-- Name: data_sources; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.data_sources (
    source_id integer NOT NULL,
    source_code character varying(50) NOT NULL,
    source_name character varying(150) NOT NULL,
    source_type character varying(50),
    description text,
    connection_status character varying(30) DEFAULT 'NOT_CONFIGURED'::character varying,
    last_sync_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT chk_source_status CHECK (((connection_status)::text = ANY ((ARRAY['CONNECTED'::character varying, 'DISCONNECTED'::character varying, 'ERROR'::character varying, 'NOT_CONFIGURED'::character varying])::text[])))
);


ALTER TABLE public.data_sources OWNER TO postgres;

--
-- Name: data_sources_source_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.data_sources_source_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.data_sources_source_id_seq OWNER TO postgres;

--
-- Name: data_sources_source_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.data_sources_source_id_seq OWNED BY public.data_sources.source_id;


--
-- Name: data_sync_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.data_sync_logs (
    sync_id bigint NOT NULL,
    source_id integer NOT NULL,
    started_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    completed_at timestamp without time zone,
    records_received integer DEFAULT 0,
    records_processed integer DEFAULT 0,
    records_failed integer DEFAULT 0,
    status character varying(30),
    error_message text
);


ALTER TABLE public.data_sync_logs OWNER TO postgres;

--
-- Name: data_sync_logs_sync_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.data_sync_logs_sync_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.data_sync_logs_sync_id_seq OWNER TO postgres;

--
-- Name: data_sync_logs_sync_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.data_sync_logs_sync_id_seq OWNED BY public.data_sync_logs.sync_id;


--
-- Name: defects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.defects (
    defect_id integer NOT NULL,
    asset_id integer NOT NULL,
    section_id integer,
    defect_code character varying(60) NOT NULL,
    defect_type character varying(100) NOT NULL,
    description text,
    detected_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    severity_level character varying(20) DEFAULT 'MEDIUM'::character varying,
    safety_impact boolean DEFAULT false,
    operational_impact character varying(30) DEFAULT 'LOW'::character varying,
    recommended_action text,
    status character varying(30) DEFAULT 'OPEN'::character varying,
    reported_by integer,
    resolved_date timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT chk_defect_severity CHECK (((severity_level)::text = ANY ((ARRAY['LOW'::character varying, 'MEDIUM'::character varying, 'HIGH'::character varying, 'CRITICAL'::character varying])::text[]))),
    CONSTRAINT chk_defect_status CHECK (((status)::text = ANY ((ARRAY['OPEN'::character varying, 'UNDER_REVIEW'::character varying, 'SCHEDULED'::character varying, 'IN_PROGRESS'::character varying, 'RESOLVED'::character varying, 'CLOSED'::character varying])::text[])))
);


ALTER TABLE public.defects OWNER TO postgres;

--
-- Name: defects_defect_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.defects_defect_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.defects_defect_id_seq OWNER TO postgres;

--
-- Name: defects_defect_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.defects_defect_id_seq OWNED BY public.defects.defect_id;


--
-- Name: departments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.departments (
    department_id integer NOT NULL,
    department_code character varying(20) NOT NULL,
    department_name character varying(150) NOT NULL,
    description text,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.departments OWNER TO postgres;

--
-- Name: departments_department_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.departments_department_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.departments_department_id_seq OWNER TO postgres;

--
-- Name: departments_department_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.departments_department_id_seq OWNED BY public.departments.department_id;


--
-- Name: divisions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.divisions (
    division_id integer NOT NULL,
    zone_id integer NOT NULL,
    division_code character varying(20) NOT NULL,
    division_name character varying(150) NOT NULL,
    headquarters character varying(150),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.divisions OWNER TO postgres;

--
-- Name: divisions_division_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.divisions_division_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.divisions_division_id_seq OWNER TO postgres;

--
-- Name: divisions_division_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.divisions_division_id_seq OWNED BY public.divisions.division_id;


--
-- Name: freight_forecasts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.freight_forecasts (
    forecast_id bigint NOT NULL,
    section_id integer NOT NULL,
    forecast_date date NOT NULL,
    time_slot_start time without time zone NOT NULL,
    time_slot_end time without time zone NOT NULL,
    expected_freight_trains integer DEFAULT 0,
    traffic_level character varying(20) DEFAULT 'LOW'::character varying,
    confidence_score numeric(5,2),
    model_name character varying(100),
    model_version character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT chk_freight_level CHECK (((traffic_level)::text = ANY ((ARRAY['LOW'::character varying, 'MEDIUM'::character varying, 'HIGH'::character varying, 'VERY_HIGH'::character varying])::text[]))),
    CONSTRAINT chk_freight_time CHECK ((time_slot_end > time_slot_start))
);


ALTER TABLE public.freight_forecasts OWNER TO postgres;

--
-- Name: freight_forecasts_forecast_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.freight_forecasts_forecast_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.freight_forecasts_forecast_id_seq OWNER TO postgres;

--
-- Name: freight_forecasts_forecast_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.freight_forecasts_forecast_id_seq OWNED BY public.freight_forecasts.forecast_id;


--
-- Name: maintenance_compatibility_rules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.maintenance_compatibility_rules (
    rule_id integer NOT NULL,
    department_a_id integer NOT NULL,
    department_b_id integer NOT NULL,
    compatible boolean DEFAULT true NOT NULL,
    compatibility_score numeric(6,2),
    safety_constraints text,
    resource_constraints text,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.maintenance_compatibility_rules OWNER TO postgres;

--
-- Name: maintenance_compatibility_rules_rule_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.maintenance_compatibility_rules_rule_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.maintenance_compatibility_rules_rule_id_seq OWNER TO postgres;

--
-- Name: maintenance_compatibility_rules_rule_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.maintenance_compatibility_rules_rule_id_seq OWNED BY public.maintenance_compatibility_rules.rule_id;


--
-- Name: maintenance_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.maintenance_history (
    history_id bigint NOT NULL,
    asset_id integer NOT NULL,
    task_id integer,
    maintenance_date date NOT NULL,
    duration_minutes integer,
    work_description text,
    condition_before numeric(5,2),
    condition_after numeric(5,2),
    performed_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.maintenance_history OWNER TO postgres;

--
-- Name: maintenance_history_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.maintenance_history_history_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.maintenance_history_history_id_seq OWNER TO postgres;

--
-- Name: maintenance_history_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.maintenance_history_history_id_seq OWNED BY public.maintenance_history.history_id;


--
-- Name: maintenance_plans; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.maintenance_plans (
    plan_id integer NOT NULL,
    plan_code character varying(60),
    plan_name character varying(250) NOT NULL,
    planning_type character varying(20) NOT NULL,
    period_start date NOT NULL,
    period_end date NOT NULL,
    status character varying(30) DEFAULT 'DRAFT'::character varying,
    generated_by integer,
    optimization_score numeric(10,2),
    total_tasks integer DEFAULT 0,
    completed_tasks integer DEFAULT 0,
    total_blocks integer DEFAULT 0,
    total_block_minutes integer DEFAULT 0,
    estimated_train_impact numeric(10,2),
    asset_availability_score numeric(10,2),
    block_utilization_score numeric(10,2),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT chk_plan_status CHECK (((status)::text = ANY ((ARRAY['DRAFT'::character varying, 'GENERATED'::character varying, 'UNDER_REVIEW'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying, 'ACTIVE'::character varying, 'COMPLETED'::character varying])::text[]))),
    CONSTRAINT chk_plan_type CHECK (((planning_type)::text = ANY ((ARRAY['WEEKLY'::character varying, 'MONTHLY'::character varying, 'ADHOC'::character varying])::text[])))
);


ALTER TABLE public.maintenance_plans OWNER TO postgres;

--
-- Name: maintenance_plans_plan_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.maintenance_plans_plan_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.maintenance_plans_plan_id_seq OWNER TO postgres;

--
-- Name: maintenance_plans_plan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.maintenance_plans_plan_id_seq OWNED BY public.maintenance_plans.plan_id;


--
-- Name: maintenance_task_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.maintenance_task_groups (
    group_id integer NOT NULL,
    section_id integer NOT NULL,
    group_name character varying(250) NOT NULL,
    compatibility_score numeric(6,2),
    estimated_joint_duration_minutes integer,
    estimated_resource_saving numeric(10,2),
    reason text,
    status character varying(30) DEFAULT 'PROPOSED'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.maintenance_task_groups OWNER TO postgres;

--
-- Name: maintenance_task_groups_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.maintenance_task_groups_group_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.maintenance_task_groups_group_id_seq OWNER TO postgres;

--
-- Name: maintenance_task_groups_group_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.maintenance_task_groups_group_id_seq OWNED BY public.maintenance_task_groups.group_id;


--
-- Name: maintenance_tasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.maintenance_tasks (
    task_id integer NOT NULL,
    asset_id integer NOT NULL,
    department_id integer NOT NULL,
    section_id integer,
    defect_id integer,
    task_code character varying(60) NOT NULL,
    task_title character varying(250) NOT NULL,
    description text,
    maintenance_type character varying(80),
    requested_date date,
    due_date date,
    estimated_duration_minutes integer NOT NULL,
    minimum_duration_minutes integer,
    maximum_duration_minutes integer,
    criticality_score numeric(6,2) DEFAULT 0,
    urgency_score numeric(6,2) DEFAULT 0,
    asset_impact_score numeric(6,2) DEFAULT 0,
    ai_priority_score numeric(6,2),
    priority_score numeric(6,2),
    priority_level character varying(20) DEFAULT 'MEDIUM'::character varying,
    status character varying(30) DEFAULT 'PENDING'::character varying,
    required_workers integer DEFAULT 1,
    equipment_required text,
    safety_requirements text,
    created_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT chk_task_duration CHECK ((estimated_duration_minutes > 0)),
    CONSTRAINT chk_task_priority CHECK (((priority_level)::text = ANY ((ARRAY['LOW'::character varying, 'MEDIUM'::character varying, 'HIGH'::character varying, 'CRITICAL'::character varying])::text[]))),
    CONSTRAINT chk_task_status CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'PRIORITIZED'::character varying, 'SCHEDULED'::character varying, 'IN_PROGRESS'::character varying, 'COMPLETED'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE public.maintenance_tasks OWNER TO postgres;

--
-- Name: maintenance_tasks_task_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.maintenance_tasks_task_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.maintenance_tasks_task_id_seq OWNER TO postgres;

--
-- Name: maintenance_tasks_task_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.maintenance_tasks_task_id_seq OWNED BY public.maintenance_tasks.task_id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    notification_id bigint NOT NULL,
    user_id integer NOT NULL,
    title character varying(250) NOT NULL,
    message text NOT NULL,
    notification_type character varying(80),
    priority character varying(20) DEFAULT 'NORMAL'::character varying,
    reference_type character varying(80),
    reference_id integer,
    is_read boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: notifications_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notifications_notification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_notification_id_seq OWNER TO postgres;

--
-- Name: notifications_notification_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.notifications_notification_id_seq OWNED BY public.notifications.notification_id;


--
-- Name: optimization_runs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.optimization_runs (
    optimization_id integer NOT NULL,
    plan_id integer,
    algorithm_name character varying(150) NOT NULL,
    algorithm_version character varying(50),
    objective_function text,
    input_task_count integer,
    input_block_count integer,
    constraints_count integer,
    execution_time_ms bigint,
    optimization_score numeric(12,4),
    train_disruption_score numeric(12,4),
    block_utilization_score numeric(12,4),
    asset_availability_score numeric(12,4),
    cross_department_score numeric(12,4),
    status character varying(30) DEFAULT 'RUNNING'::character varying,
    error_message text,
    started_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    completed_at timestamp without time zone,
    result_data jsonb
);


ALTER TABLE public.optimization_runs OWNER TO postgres;

--
-- Name: optimization_runs_optimization_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.optimization_runs_optimization_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.optimization_runs_optimization_id_seq OWNER TO postgres;

--
-- Name: optimization_runs_optimization_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.optimization_runs_optimization_id_seq OWNED BY public.optimization_runs.optimization_id;


--
-- Name: plan_tasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.plan_tasks (
    plan_task_id integer NOT NULL,
    plan_id integer NOT NULL,
    task_id integer NOT NULL,
    block_id integer,
    scheduled_start timestamp without time zone,
    scheduled_end timestamp without time zone,
    sequence_number integer,
    status character varying(30) DEFAULT 'PLANNED'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT chk_plan_task_status CHECK (((status)::text = ANY ((ARRAY['PLANNED'::character varying, 'APPROVED'::character varying, 'IN_PROGRESS'::character varying, 'COMPLETED'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE public.plan_tasks OWNER TO postgres;

--
-- Name: plan_tasks_plan_task_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.plan_tasks_plan_task_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.plan_tasks_plan_task_id_seq OWNER TO postgres;

--
-- Name: plan_tasks_plan_task_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.plan_tasks_plan_task_id_seq OWNED BY public.plan_tasks.plan_task_id;


--
-- Name: railway_sections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.railway_sections (
    section_id integer NOT NULL,
    division_id integer,
    section_code character varying(50) NOT NULL,
    section_name character varying(200) NOT NULL,
    start_station_id integer,
    end_station_id integer,
    length_km numeric(10,2),
    track_count integer DEFAULT 1,
    electrified boolean DEFAULT true,
    maximum_speed_kmph numeric(6,2),
    status character varying(30) DEFAULT 'ACTIVE'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT chk_section_status CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'MAINTENANCE'::character varying, 'RESTRICTED'::character varying, 'CLOSED'::character varying])::text[])))
);


ALTER TABLE public.railway_sections OWNER TO postgres;

--
-- Name: railway_sections_section_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.railway_sections_section_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.railway_sections_section_id_seq OWNER TO postgres;

--
-- Name: railway_sections_section_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.railway_sections_section_id_seq OWNED BY public.railway_sections.section_id;


--
-- Name: railway_zones; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.railway_zones (
    zone_id integer NOT NULL,
    zone_code character varying(20) NOT NULL,
    zone_name character varying(150) NOT NULL,
    headquarters character varying(150),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.railway_zones OWNER TO postgres;

--
-- Name: railway_zones_zone_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.railway_zones_zone_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.railway_zones_zone_id_seq OWNER TO postgres;

--
-- Name: railway_zones_zone_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.railway_zones_zone_id_seq OWNED BY public.railway_zones.zone_id;


--
-- Name: resources; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resources (
    resource_id integer NOT NULL,
    department_id integer,
    resource_code character varying(60) NOT NULL,
    resource_name character varying(150) NOT NULL,
    resource_type character varying(50),
    quantity integer DEFAULT 1,
    availability_status character varying(30) DEFAULT 'AVAILABLE'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.resources OWNER TO postgres;

--
-- Name: resources_resource_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.resources_resource_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.resources_resource_id_seq OWNER TO postgres;

--
-- Name: resources_resource_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.resources_resource_id_seq OWNED BY public.resources.resource_id;


--
-- Name: simulation_runs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.simulation_runs (
    simulation_id integer NOT NULL,
    plan_id integer,
    simulation_type character varying(80),
    scenario_name character varying(250),
    scenario_parameters jsonb,
    total_trains_simulated integer,
    affected_trains integer,
    total_delay_minutes numeric(12,2),
    average_delay_minutes numeric(10,2),
    maximum_delay_minutes numeric(10,2),
    operational_risk character varying(20),
    asset_availability_result numeric(10,2),
    result_summary text,
    created_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.simulation_runs OWNER TO postgres;

--
-- Name: simulation_runs_simulation_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.simulation_runs_simulation_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.simulation_runs_simulation_id_seq OWNER TO postgres;

--
-- Name: simulation_runs_simulation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.simulation_runs_simulation_id_seq OWNED BY public.simulation_runs.simulation_id;


--
-- Name: stations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stations (
    station_id integer NOT NULL,
    division_id integer,
    station_code character varying(20) NOT NULL,
    station_name character varying(150) NOT NULL,
    latitude numeric(10,7),
    longitude numeric(10,7),
    station_category character varying(30),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.stations OWNER TO postgres;

--
-- Name: stations_station_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.stations_station_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stations_station_id_seq OWNER TO postgres;

--
-- Name: stations_station_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.stations_station_id_seq OWNED BY public.stations.station_id;


--
-- Name: system_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.system_settings (
    setting_id integer NOT NULL,
    setting_key character varying(150) NOT NULL,
    setting_value text,
    value_type character varying(30) DEFAULT 'STRING'::character varying,
    description text,
    updated_by integer,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.system_settings OWNER TO postgres;

--
-- Name: system_settings_setting_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.system_settings_setting_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.system_settings_setting_id_seq OWNER TO postgres;

--
-- Name: system_settings_setting_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.system_settings_setting_id_seq OWNED BY public.system_settings.setting_id;


--
-- Name: task_group_members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.task_group_members (
    group_id integer NOT NULL,
    task_id integer NOT NULL
);


ALTER TABLE public.task_group_members OWNER TO postgres;

--
-- Name: traffic_forecasts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.traffic_forecasts (
    traffic_forecast_id bigint NOT NULL,
    section_id integer NOT NULL,
    forecast_date date NOT NULL,
    time_slot_start time without time zone NOT NULL,
    time_slot_end time without time zone NOT NULL,
    expected_train_count integer DEFAULT 0,
    passenger_train_count integer DEFAULT 0,
    freight_train_count integer DEFAULT 0,
    traffic_score numeric(6,2),
    confidence_score numeric(5,2),
    model_version character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.traffic_forecasts OWNER TO postgres;

--
-- Name: traffic_forecasts_traffic_forecast_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.traffic_forecasts_traffic_forecast_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.traffic_forecasts_traffic_forecast_id_seq OWNER TO postgres;

--
-- Name: traffic_forecasts_traffic_forecast_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.traffic_forecasts_traffic_forecast_id_seq OWNED BY public.traffic_forecasts.traffic_forecast_id;


--
-- Name: train_impact_analysis; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.train_impact_analysis (
    impact_id integer NOT NULL,
    plan_id integer,
    block_id integer,
    affected_train_count integer DEFAULT 0,
    affected_passenger_count integer DEFAULT 0,
    affected_freight_count integer DEFAULT 0,
    estimated_delay_minutes numeric(12,2) DEFAULT 0,
    passenger_impact_score numeric(10,2) DEFAULT 0,
    freight_impact_score numeric(10,2) DEFAULT 0,
    operational_risk_score numeric(10,2) DEFAULT 0,
    overall_impact_score numeric(10,2) DEFAULT 0,
    risk_level character varying(20) DEFAULT 'LOW'::character varying,
    analysis_details jsonb,
    calculated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT chk_impact_risk CHECK (((risk_level)::text = ANY ((ARRAY['LOW'::character varying, 'MEDIUM'::character varying, 'HIGH'::character varying, 'CRITICAL'::character varying])::text[])))
);


ALTER TABLE public.train_impact_analysis OWNER TO postgres;

--
-- Name: train_impact_analysis_impact_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.train_impact_analysis_impact_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.train_impact_analysis_impact_id_seq OWNER TO postgres;

--
-- Name: train_impact_analysis_impact_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.train_impact_analysis_impact_id_seq OWNED BY public.train_impact_analysis.impact_id;


--
-- Name: train_schedules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.train_schedules (
    schedule_id bigint NOT NULL,
    train_id integer NOT NULL,
    section_id integer NOT NULL,
    schedule_date date NOT NULL,
    arrival_time time without time zone,
    departure_time time without time zone,
    direction character varying(20),
    scheduled_speed_kmph numeric(6,2),
    platform_number character varying(20),
    status character varying(30) DEFAULT 'SCHEDULED'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT chk_train_direction CHECK (((direction)::text = ANY ((ARRAY['UP'::character varying, 'DOWN'::character varying, 'BOTH'::character varying])::text[])))
);


ALTER TABLE public.train_schedules OWNER TO postgres;

--
-- Name: train_schedules_schedule_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.train_schedules_schedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.train_schedules_schedule_id_seq OWNER TO postgres;

--
-- Name: train_schedules_schedule_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.train_schedules_schedule_id_seq OWNED BY public.train_schedules.schedule_id;


--
-- Name: train_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.train_types (
    train_type_id integer NOT NULL,
    type_code character varying(30) NOT NULL,
    type_name character varying(100) NOT NULL,
    description text
);


ALTER TABLE public.train_types OWNER TO postgres;

--
-- Name: train_types_train_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.train_types_train_type_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.train_types_train_type_id_seq OWNER TO postgres;

--
-- Name: train_types_train_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.train_types_train_type_id_seq OWNED BY public.train_types.train_type_id;


--
-- Name: trains; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trains (
    train_id integer NOT NULL,
    train_number character varying(30) NOT NULL,
    train_name character varying(200),
    train_type_id integer,
    priority_level character varying(20) DEFAULT 'NORMAL'::character varying,
    is_passenger boolean DEFAULT true,
    is_freight boolean DEFAULT false,
    operating_days character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.trains OWNER TO postgres;

--
-- Name: trains_train_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.trains_train_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.trains_train_id_seq OWNER TO postgres;

--
-- Name: trains_train_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.trains_train_id_seq OWNED BY public.trains.train_id;


--
-- Name: user_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_sessions (
    session_id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id integer NOT NULL,
    token_hash text NOT NULL,
    ip_address character varying(50),
    user_agent text,
    expires_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_sessions OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    username character varying(100) NOT NULL,
    email character varying(200) NOT NULL,
    password_hash text NOT NULL,
    full_name character varying(150) NOT NULL,
    phone character varying(30),
    role character varying(50) NOT NULL,
    department_id integer,
    is_active boolean DEFAULT true,
    is_verified boolean DEFAULT false,
    last_login timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT chk_user_role CHECK (((role)::text = ANY ((ARRAY['ADMIN'::character varying, 'MAINTENANCE_PLANNER'::character varying, 'ENGINEERING_OFFICER'::character varying, 'SNT_OFFICER'::character varying, 'TRD_OFFICER'::character varying, 'CONTROL_OFFICER'::character varying, 'MANAGER'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_user_id_seq OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: vw_asset_health; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_asset_health AS
 SELECT a.asset_id,
    a.asset_code,
    a.asset_name,
    a.asset_type,
    d.department_name,
    rs.section_name,
    a.condition_score,
    a.criticality_level,
    a.operational_status,
    a.last_maintenance_date,
    a.next_maintenance_date
   FROM ((public.assets a
     LEFT JOIN public.departments d ON ((d.department_id = a.department_id)))
     LEFT JOIN public.railway_sections rs ON ((rs.section_id = a.section_id)));


ALTER VIEW public.vw_asset_health OWNER TO postgres;

--
-- Name: vw_block_utilization; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_block_utilization AS
 SELECT count(*) AS total_blocks,
    count(*) FILTER (WHERE ((availability_status)::text = 'AVAILABLE'::text)) AS available_blocks,
    count(*) FILTER (WHERE ((availability_status)::text = 'RESERVED'::text)) AS reserved_blocks,
    count(*) FILTER (WHERE ((availability_status)::text = 'USED'::text)) AS used_blocks,
    count(*) FILTER (WHERE ((availability_status)::text = 'CANCELLED'::text)) AS cancelled_blocks
   FROM public.block_windows;


ALTER VIEW public.vw_block_utilization OWNER TO postgres;

--
-- Name: vw_critical_assets; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_critical_assets AS
 SELECT a.asset_id,
    a.asset_code,
    a.asset_name,
    a.asset_type,
    d.department_name,
    rs.section_name,
    a.condition_score,
    a.operational_status,
    count(df.defect_id) AS open_defects
   FROM (((public.assets a
     LEFT JOIN public.departments d ON ((d.department_id = a.department_id)))
     LEFT JOIN public.railway_sections rs ON ((rs.section_id = a.section_id)))
     LEFT JOIN public.defects df ON (((df.asset_id = a.asset_id) AND ((df.status)::text = ANY ((ARRAY['OPEN'::character varying, 'UNDER_REVIEW'::character varying])::text[])))))
  WHERE ((a.criticality_level)::text = ANY ((ARRAY['HIGH'::character varying, 'CRITICAL'::character varying])::text[]))
  GROUP BY a.asset_id, a.asset_code, a.asset_name, a.asset_type, d.department_name, rs.section_name, a.condition_score, a.operational_status;


ALTER VIEW public.vw_critical_assets OWNER TO postgres;

--
-- Name: vw_department_workload; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_department_workload AS
 SELECT d.department_id,
    d.department_code,
    d.department_name,
    count(mt.task_id) AS total_tasks,
    count(mt.task_id) FILTER (WHERE ((mt.status)::text = 'PENDING'::text)) AS pending_tasks,
    count(mt.task_id) FILTER (WHERE ((mt.status)::text = 'SCHEDULED'::text)) AS scheduled_tasks,
    count(mt.task_id) FILTER (WHERE ((mt.status)::text = 'COMPLETED'::text)) AS completed_tasks,
    COALESCE(avg(mt.priority_score), (0)::numeric) AS average_priority
   FROM (public.departments d
     LEFT JOIN public.maintenance_tasks mt ON ((mt.department_id = d.department_id)))
  GROUP BY d.department_id, d.department_code, d.department_name;


ALTER VIEW public.vw_department_workload OWNER TO postgres;

--
-- Name: vw_maintenance_dashboard; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_maintenance_dashboard AS
 SELECT count(*) AS total_tasks,
    count(*) FILTER (WHERE ((status)::text = 'PENDING'::text)) AS pending_tasks,
    count(*) FILTER (WHERE ((status)::text = 'IN_PROGRESS'::text)) AS in_progress_tasks,
    count(*) FILTER (WHERE ((status)::text = 'COMPLETED'::text)) AS completed_tasks,
    count(*) FILTER (WHERE ((priority_level)::text = 'CRITICAL'::text)) AS critical_tasks,
    count(*) FILTER (WHERE ((priority_level)::text = 'HIGH'::text)) AS high_priority_tasks
   FROM public.maintenance_tasks;


ALTER VIEW public.vw_maintenance_dashboard OWNER TO postgres;

--
-- Name: vw_train_impact_summary; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_train_impact_summary AS
 SELECT count(*) AS total_analyses,
    COALESCE(sum(affected_train_count), (0)::bigint) AS affected_trains,
    COALESCE(sum(affected_freight_count), (0)::bigint) AS affected_freight_trains,
    COALESCE(sum(estimated_delay_minutes), (0)::numeric) AS total_estimated_delay,
    COALESCE(avg(overall_impact_score), (0)::numeric) AS average_impact_score
   FROM public.train_impact_analysis;


ALTER VIEW public.vw_train_impact_summary OWNER TO postgres;

--
-- Name: what_if_scenarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.what_if_scenarios (
    scenario_id integer NOT NULL,
    scenario_code character varying(60),
    scenario_name character varying(250) NOT NULL,
    base_plan_id integer,
    scenario_type character varying(80),
    description text,
    input_parameters jsonb,
    original_plan_score numeric(10,2),
    new_plan_score numeric(10,2),
    improvement_percentage numeric(8,2),
    train_delay_difference numeric(10,2),
    block_utilization_difference numeric(10,2),
    recommended_action text,
    status character varying(30) DEFAULT 'CREATED'::character varying,
    created_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.what_if_scenarios OWNER TO postgres;

--
-- Name: what_if_scenarios_scenario_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.what_if_scenarios_scenario_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.what_if_scenarios_scenario_id_seq OWNER TO postgres;

--
-- Name: what_if_scenarios_scenario_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.what_if_scenarios_scenario_id_seq OWNED BY public.what_if_scenarios.scenario_id;


--
-- Name: ai_models model_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_models ALTER COLUMN model_id SET DEFAULT nextval('public.ai_models_model_id_seq'::regclass);


--
-- Name: ai_priority_predictions prediction_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_priority_predictions ALTER COLUMN prediction_id SET DEFAULT nextval('public.ai_priority_predictions_prediction_id_seq'::regclass);


--
-- Name: api_request_logs request_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_request_logs ALTER COLUMN request_id SET DEFAULT nextval('public.api_request_logs_request_id_seq'::regclass);


--
-- Name: asset_categories category_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_categories ALTER COLUMN category_id SET DEFAULT nextval('public.asset_categories_category_id_seq'::regclass);


--
-- Name: asset_sensor_readings reading_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_sensor_readings ALTER COLUMN reading_id SET DEFAULT nextval('public.asset_sensor_readings_reading_id_seq'::regclass);


--
-- Name: assets asset_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assets ALTER COLUMN asset_id SET DEFAULT nextval('public.assets_asset_id_seq'::regclass);


--
-- Name: audit_logs audit_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN audit_id SET DEFAULT nextval('public.audit_logs_audit_id_seq'::regclass);


--
-- Name: block_approvals approval_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.block_approvals ALTER COLUMN approval_id SET DEFAULT nextval('public.block_approvals_approval_id_seq'::regclass);


--
-- Name: block_windows block_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.block_windows ALTER COLUMN block_id SET DEFAULT nextval('public.block_windows_block_id_seq'::regclass);


--
-- Name: data_sources source_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.data_sources ALTER COLUMN source_id SET DEFAULT nextval('public.data_sources_source_id_seq'::regclass);


--
-- Name: data_sync_logs sync_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.data_sync_logs ALTER COLUMN sync_id SET DEFAULT nextval('public.data_sync_logs_sync_id_seq'::regclass);


--
-- Name: defects defect_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.defects ALTER COLUMN defect_id SET DEFAULT nextval('public.defects_defect_id_seq'::regclass);


--
-- Name: departments department_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments ALTER COLUMN department_id SET DEFAULT nextval('public.departments_department_id_seq'::regclass);


--
-- Name: divisions division_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.divisions ALTER COLUMN division_id SET DEFAULT nextval('public.divisions_division_id_seq'::regclass);


--
-- Name: freight_forecasts forecast_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.freight_forecasts ALTER COLUMN forecast_id SET DEFAULT nextval('public.freight_forecasts_forecast_id_seq'::regclass);


--
-- Name: maintenance_compatibility_rules rule_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_compatibility_rules ALTER COLUMN rule_id SET DEFAULT nextval('public.maintenance_compatibility_rules_rule_id_seq'::regclass);


--
-- Name: maintenance_history history_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_history ALTER COLUMN history_id SET DEFAULT nextval('public.maintenance_history_history_id_seq'::regclass);


--
-- Name: maintenance_plans plan_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_plans ALTER COLUMN plan_id SET DEFAULT nextval('public.maintenance_plans_plan_id_seq'::regclass);


--
-- Name: maintenance_task_groups group_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_task_groups ALTER COLUMN group_id SET DEFAULT nextval('public.maintenance_task_groups_group_id_seq'::regclass);


--
-- Name: maintenance_tasks task_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_tasks ALTER COLUMN task_id SET DEFAULT nextval('public.maintenance_tasks_task_id_seq'::regclass);


--
-- Name: notifications notification_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications ALTER COLUMN notification_id SET DEFAULT nextval('public.notifications_notification_id_seq'::regclass);


--
-- Name: optimization_runs optimization_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.optimization_runs ALTER COLUMN optimization_id SET DEFAULT nextval('public.optimization_runs_optimization_id_seq'::regclass);


--
-- Name: plan_tasks plan_task_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plan_tasks ALTER COLUMN plan_task_id SET DEFAULT nextval('public.plan_tasks_plan_task_id_seq'::regclass);


--
-- Name: railway_sections section_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.railway_sections ALTER COLUMN section_id SET DEFAULT nextval('public.railway_sections_section_id_seq'::regclass);


--
-- Name: railway_zones zone_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.railway_zones ALTER COLUMN zone_id SET DEFAULT nextval('public.railway_zones_zone_id_seq'::regclass);


--
-- Name: resources resource_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resources ALTER COLUMN resource_id SET DEFAULT nextval('public.resources_resource_id_seq'::regclass);


--
-- Name: simulation_runs simulation_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.simulation_runs ALTER COLUMN simulation_id SET DEFAULT nextval('public.simulation_runs_simulation_id_seq'::regclass);


--
-- Name: stations station_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stations ALTER COLUMN station_id SET DEFAULT nextval('public.stations_station_id_seq'::regclass);


--
-- Name: system_settings setting_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_settings ALTER COLUMN setting_id SET DEFAULT nextval('public.system_settings_setting_id_seq'::regclass);


--
-- Name: traffic_forecasts traffic_forecast_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.traffic_forecasts ALTER COLUMN traffic_forecast_id SET DEFAULT nextval('public.traffic_forecasts_traffic_forecast_id_seq'::regclass);


--
-- Name: train_impact_analysis impact_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.train_impact_analysis ALTER COLUMN impact_id SET DEFAULT nextval('public.train_impact_analysis_impact_id_seq'::regclass);


--
-- Name: train_schedules schedule_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.train_schedules ALTER COLUMN schedule_id SET DEFAULT nextval('public.train_schedules_schedule_id_seq'::regclass);


--
-- Name: train_types train_type_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.train_types ALTER COLUMN train_type_id SET DEFAULT nextval('public.train_types_train_type_id_seq'::regclass);


--
-- Name: trains train_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trains ALTER COLUMN train_id SET DEFAULT nextval('public.trains_train_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Name: what_if_scenarios scenario_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.what_if_scenarios ALTER COLUMN scenario_id SET DEFAULT nextval('public.what_if_scenarios_scenario_id_seq'::regclass);


--
-- Name: ai_models ai_models_model_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_models
    ADD CONSTRAINT ai_models_model_name_key UNIQUE (model_name);


--
-- Name: ai_models ai_models_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_models
    ADD CONSTRAINT ai_models_pkey PRIMARY KEY (model_id);


--
-- Name: ai_priority_predictions ai_priority_predictions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_priority_predictions
    ADD CONSTRAINT ai_priority_predictions_pkey PRIMARY KEY (prediction_id);


--
-- Name: api_request_logs api_request_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_request_logs
    ADD CONSTRAINT api_request_logs_pkey PRIMARY KEY (request_id);


--
-- Name: asset_categories asset_categories_category_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_categories
    ADD CONSTRAINT asset_categories_category_code_key UNIQUE (category_code);


--
-- Name: asset_categories asset_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_categories
    ADD CONSTRAINT asset_categories_pkey PRIMARY KEY (category_id);


--
-- Name: asset_sensor_readings asset_sensor_readings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_sensor_readings
    ADD CONSTRAINT asset_sensor_readings_pkey PRIMARY KEY (reading_id);


--
-- Name: assets assets_asset_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_asset_code_key UNIQUE (asset_code);


--
-- Name: assets assets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_pkey PRIMARY KEY (asset_id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (audit_id);


--
-- Name: block_approvals block_approvals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.block_approvals
    ADD CONSTRAINT block_approvals_pkey PRIMARY KEY (approval_id);


--
-- Name: block_windows block_windows_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.block_windows
    ADD CONSTRAINT block_windows_pkey PRIMARY KEY (block_id);


--
-- Name: data_sources data_sources_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.data_sources
    ADD CONSTRAINT data_sources_pkey PRIMARY KEY (source_id);


--
-- Name: data_sources data_sources_source_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.data_sources
    ADD CONSTRAINT data_sources_source_code_key UNIQUE (source_code);


--
-- Name: data_sync_logs data_sync_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.data_sync_logs
    ADD CONSTRAINT data_sync_logs_pkey PRIMARY KEY (sync_id);


--
-- Name: defects defects_defect_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.defects
    ADD CONSTRAINT defects_defect_code_key UNIQUE (defect_code);


--
-- Name: defects defects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.defects
    ADD CONSTRAINT defects_pkey PRIMARY KEY (defect_id);


--
-- Name: departments departments_department_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_department_code_key UNIQUE (department_code);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (department_id);


--
-- Name: divisions divisions_division_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.divisions
    ADD CONSTRAINT divisions_division_code_key UNIQUE (division_code);


--
-- Name: divisions divisions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.divisions
    ADD CONSTRAINT divisions_pkey PRIMARY KEY (division_id);


--
-- Name: freight_forecasts freight_forecasts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.freight_forecasts
    ADD CONSTRAINT freight_forecasts_pkey PRIMARY KEY (forecast_id);


--
-- Name: maintenance_compatibility_rules maintenance_compatibility_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_compatibility_rules
    ADD CONSTRAINT maintenance_compatibility_rules_pkey PRIMARY KEY (rule_id);


--
-- Name: maintenance_history maintenance_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_history
    ADD CONSTRAINT maintenance_history_pkey PRIMARY KEY (history_id);


--
-- Name: maintenance_plans maintenance_plans_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_plans
    ADD CONSTRAINT maintenance_plans_pkey PRIMARY KEY (plan_id);


--
-- Name: maintenance_plans maintenance_plans_plan_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_plans
    ADD CONSTRAINT maintenance_plans_plan_code_key UNIQUE (plan_code);


--
-- Name: maintenance_task_groups maintenance_task_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_task_groups
    ADD CONSTRAINT maintenance_task_groups_pkey PRIMARY KEY (group_id);


--
-- Name: maintenance_tasks maintenance_tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_tasks
    ADD CONSTRAINT maintenance_tasks_pkey PRIMARY KEY (task_id);


--
-- Name: maintenance_tasks maintenance_tasks_task_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_tasks
    ADD CONSTRAINT maintenance_tasks_task_code_key UNIQUE (task_code);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (notification_id);


--
-- Name: optimization_runs optimization_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.optimization_runs
    ADD CONSTRAINT optimization_runs_pkey PRIMARY KEY (optimization_id);


--
-- Name: plan_tasks plan_tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plan_tasks
    ADD CONSTRAINT plan_tasks_pkey PRIMARY KEY (plan_task_id);


--
-- Name: railway_sections railway_sections_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.railway_sections
    ADD CONSTRAINT railway_sections_pkey PRIMARY KEY (section_id);


--
-- Name: railway_sections railway_sections_section_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.railway_sections
    ADD CONSTRAINT railway_sections_section_code_key UNIQUE (section_code);


--
-- Name: railway_zones railway_zones_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.railway_zones
    ADD CONSTRAINT railway_zones_pkey PRIMARY KEY (zone_id);


--
-- Name: railway_zones railway_zones_zone_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.railway_zones
    ADD CONSTRAINT railway_zones_zone_code_key UNIQUE (zone_code);


--
-- Name: resources resources_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resources
    ADD CONSTRAINT resources_pkey PRIMARY KEY (resource_id);


--
-- Name: resources resources_resource_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resources
    ADD CONSTRAINT resources_resource_code_key UNIQUE (resource_code);


--
-- Name: simulation_runs simulation_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.simulation_runs
    ADD CONSTRAINT simulation_runs_pkey PRIMARY KEY (simulation_id);


--
-- Name: stations stations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stations
    ADD CONSTRAINT stations_pkey PRIMARY KEY (station_id);


--
-- Name: stations stations_station_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stations
    ADD CONSTRAINT stations_station_code_key UNIQUE (station_code);


--
-- Name: system_settings system_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_pkey PRIMARY KEY (setting_id);


--
-- Name: system_settings system_settings_setting_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_setting_key_key UNIQUE (setting_key);


--
-- Name: task_group_members task_group_members_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_group_members
    ADD CONSTRAINT task_group_members_pkey PRIMARY KEY (group_id, task_id);


--
-- Name: traffic_forecasts traffic_forecasts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.traffic_forecasts
    ADD CONSTRAINT traffic_forecasts_pkey PRIMARY KEY (traffic_forecast_id);


--
-- Name: train_impact_analysis train_impact_analysis_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.train_impact_analysis
    ADD CONSTRAINT train_impact_analysis_pkey PRIMARY KEY (impact_id);


--
-- Name: train_schedules train_schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.train_schedules
    ADD CONSTRAINT train_schedules_pkey PRIMARY KEY (schedule_id);


--
-- Name: train_types train_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.train_types
    ADD CONSTRAINT train_types_pkey PRIMARY KEY (train_type_id);


--
-- Name: train_types train_types_type_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.train_types
    ADD CONSTRAINT train_types_type_code_key UNIQUE (type_code);


--
-- Name: trains trains_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trains
    ADD CONSTRAINT trains_pkey PRIMARY KEY (train_id);


--
-- Name: trains trains_train_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trains
    ADD CONSTRAINT trains_train_number_key UNIQUE (train_number);


--
-- Name: user_sessions user_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_pkey PRIMARY KEY (session_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: what_if_scenarios what_if_scenarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.what_if_scenarios
    ADD CONSTRAINT what_if_scenarios_pkey PRIMARY KEY (scenario_id);


--
-- Name: what_if_scenarios what_if_scenarios_scenario_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.what_if_scenarios
    ADD CONSTRAINT what_if_scenarios_scenario_code_key UNIQUE (scenario_code);


--
-- Name: idx_ai_predictions_model; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ai_predictions_model ON public.ai_priority_predictions USING btree (model_id);


--
-- Name: idx_ai_predictions_task; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ai_predictions_task ON public.ai_priority_predictions USING btree (task_id);


--
-- Name: idx_assets_criticality; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_assets_criticality ON public.assets USING btree (criticality_level);


--
-- Name: idx_assets_department; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_assets_department ON public.assets USING btree (department_id);


--
-- Name: idx_assets_section; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_assets_section ON public.assets USING btree (section_id);


--
-- Name: idx_assets_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_assets_status ON public.assets USING btree (operational_status);


--
-- Name: idx_audit_entity; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_entity ON public.audit_logs USING btree (entity_type, entity_id);


--
-- Name: idx_audit_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_user ON public.audit_logs USING btree (user_id);


--
-- Name: idx_blocks_section_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_blocks_section_date ON public.block_windows USING btree (section_id, block_date);


--
-- Name: idx_blocks_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_blocks_status ON public.block_windows USING btree (availability_status);


--
-- Name: idx_defects_asset; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_defects_asset ON public.defects USING btree (asset_id);


--
-- Name: idx_defects_section; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_defects_section ON public.defects USING btree (section_id);


--
-- Name: idx_defects_severity; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_defects_severity ON public.defects USING btree (severity_level);


--
-- Name: idx_defects_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_defects_status ON public.defects USING btree (status);


--
-- Name: idx_freight_section_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_freight_section_date ON public.freight_forecasts USING btree (section_id, forecast_date);


--
-- Name: idx_notifications_unread; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_unread ON public.notifications USING btree (user_id, is_read);


--
-- Name: idx_notifications_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_user ON public.notifications USING btree (user_id);


--
-- Name: idx_plan_tasks_plan; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_plan_tasks_plan ON public.plan_tasks USING btree (plan_id);


--
-- Name: idx_plan_tasks_task; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_plan_tasks_task ON public.plan_tasks USING btree (task_id);


--
-- Name: idx_plans_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_plans_status ON public.maintenance_plans USING btree (status);


--
-- Name: idx_sensor_asset_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sensor_asset_time ON public.asset_sensor_readings USING btree (asset_id, reading_time);


--
-- Name: idx_sessions_expiry; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sessions_expiry ON public.user_sessions USING btree (expires_at);


--
-- Name: idx_sessions_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sessions_user ON public.user_sessions USING btree (user_id);


--
-- Name: idx_simulation_plan; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_simulation_plan ON public.simulation_runs USING btree (plan_id);


--
-- Name: idx_tasks_asset; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasks_asset ON public.maintenance_tasks USING btree (asset_id);


--
-- Name: idx_tasks_department; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasks_department ON public.maintenance_tasks USING btree (department_id);


--
-- Name: idx_tasks_due_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasks_due_date ON public.maintenance_tasks USING btree (due_date);


--
-- Name: idx_tasks_priority; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasks_priority ON public.maintenance_tasks USING btree (priority_score DESC);


--
-- Name: idx_tasks_section; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasks_section ON public.maintenance_tasks USING btree (section_id);


--
-- Name: idx_tasks_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasks_status ON public.maintenance_tasks USING btree (status);


--
-- Name: idx_train_schedule_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_train_schedule_date ON public.train_schedules USING btree (schedule_date);


--
-- Name: idx_train_schedule_section; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_train_schedule_section ON public.train_schedules USING btree (section_id);


--
-- Name: idx_train_schedule_train; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_train_schedule_train ON public.train_schedules USING btree (train_id);


--
-- Name: idx_users_department; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_department ON public.users USING btree (department_id);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: assets trg_assets_updated; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_assets_updated BEFORE UPDATE ON public.assets FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: block_windows trg_blocks_updated; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_blocks_updated BEFORE UPDATE ON public.block_windows FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: defects trg_defects_updated; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_defects_updated BEFORE UPDATE ON public.defects FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: maintenance_plans trg_plans_updated; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_plans_updated BEFORE UPDATE ON public.maintenance_plans FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: railway_sections trg_sections_updated; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_sections_updated BEFORE UPDATE ON public.railway_sections FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: maintenance_tasks trg_tasks_updated; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_tasks_updated BEFORE UPDATE ON public.maintenance_tasks FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users trg_users_updated; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_users_updated BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: ai_priority_predictions ai_priority_predictions_model_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_priority_predictions
    ADD CONSTRAINT ai_priority_predictions_model_id_fkey FOREIGN KEY (model_id) REFERENCES public.ai_models(model_id);


--
-- Name: ai_priority_predictions ai_priority_predictions_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_priority_predictions
    ADD CONSTRAINT ai_priority_predictions_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.maintenance_tasks(task_id) ON DELETE CASCADE;


--
-- Name: api_request_logs api_request_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_request_logs
    ADD CONSTRAINT api_request_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: asset_categories asset_categories_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_categories
    ADD CONSTRAINT asset_categories_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(department_id) ON DELETE SET NULL;


--
-- Name: asset_sensor_readings asset_sensor_readings_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_sensor_readings
    ADD CONSTRAINT asset_sensor_readings_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(asset_id) ON DELETE CASCADE;


--
-- Name: assets assets_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.asset_categories(category_id) ON DELETE SET NULL;


--
-- Name: assets assets_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(department_id);


--
-- Name: assets assets_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.railway_sections(section_id) ON DELETE SET NULL;


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: block_approvals block_approvals_block_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.block_approvals
    ADD CONSTRAINT block_approvals_block_id_fkey FOREIGN KEY (block_id) REFERENCES public.block_windows(block_id);


--
-- Name: block_approvals block_approvals_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.block_approvals
    ADD CONSTRAINT block_approvals_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.maintenance_plans(plan_id);


--
-- Name: block_approvals block_approvals_requested_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.block_approvals
    ADD CONSTRAINT block_approvals_requested_by_fkey FOREIGN KEY (requested_by) REFERENCES public.users(user_id);


--
-- Name: block_approvals block_approvals_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.block_approvals
    ADD CONSTRAINT block_approvals_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(user_id);


--
-- Name: block_windows block_windows_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.block_windows
    ADD CONSTRAINT block_windows_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.railway_sections(section_id);


--
-- Name: data_sync_logs data_sync_logs_source_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.data_sync_logs
    ADD CONSTRAINT data_sync_logs_source_id_fkey FOREIGN KEY (source_id) REFERENCES public.data_sources(source_id);


--
-- Name: defects defects_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.defects
    ADD CONSTRAINT defects_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(asset_id);


--
-- Name: defects defects_reported_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.defects
    ADD CONSTRAINT defects_reported_by_fkey FOREIGN KEY (reported_by) REFERENCES public.users(user_id);


--
-- Name: defects defects_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.defects
    ADD CONSTRAINT defects_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.railway_sections(section_id);


--
-- Name: divisions divisions_zone_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.divisions
    ADD CONSTRAINT divisions_zone_id_fkey FOREIGN KEY (zone_id) REFERENCES public.railway_zones(zone_id) ON DELETE CASCADE;


--
-- Name: freight_forecasts freight_forecasts_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.freight_forecasts
    ADD CONSTRAINT freight_forecasts_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.railway_sections(section_id);


--
-- Name: maintenance_compatibility_rules maintenance_compatibility_rules_department_a_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_compatibility_rules
    ADD CONSTRAINT maintenance_compatibility_rules_department_a_id_fkey FOREIGN KEY (department_a_id) REFERENCES public.departments(department_id);


--
-- Name: maintenance_compatibility_rules maintenance_compatibility_rules_department_b_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_compatibility_rules
    ADD CONSTRAINT maintenance_compatibility_rules_department_b_id_fkey FOREIGN KEY (department_b_id) REFERENCES public.departments(department_id);


--
-- Name: maintenance_history maintenance_history_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_history
    ADD CONSTRAINT maintenance_history_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(asset_id);


--
-- Name: maintenance_history maintenance_history_performed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_history
    ADD CONSTRAINT maintenance_history_performed_by_fkey FOREIGN KEY (performed_by) REFERENCES public.users(user_id);


--
-- Name: maintenance_history maintenance_history_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_history
    ADD CONSTRAINT maintenance_history_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.maintenance_tasks(task_id);


--
-- Name: maintenance_plans maintenance_plans_generated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_plans
    ADD CONSTRAINT maintenance_plans_generated_by_fkey FOREIGN KEY (generated_by) REFERENCES public.users(user_id);


--
-- Name: maintenance_task_groups maintenance_task_groups_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_task_groups
    ADD CONSTRAINT maintenance_task_groups_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.railway_sections(section_id);


--
-- Name: maintenance_tasks maintenance_tasks_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_tasks
    ADD CONSTRAINT maintenance_tasks_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(asset_id);


--
-- Name: maintenance_tasks maintenance_tasks_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_tasks
    ADD CONSTRAINT maintenance_tasks_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(user_id);


--
-- Name: maintenance_tasks maintenance_tasks_defect_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_tasks
    ADD CONSTRAINT maintenance_tasks_defect_id_fkey FOREIGN KEY (defect_id) REFERENCES public.defects(defect_id) ON DELETE SET NULL;


--
-- Name: maintenance_tasks maintenance_tasks_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_tasks
    ADD CONSTRAINT maintenance_tasks_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(department_id);


--
-- Name: maintenance_tasks maintenance_tasks_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_tasks
    ADD CONSTRAINT maintenance_tasks_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.railway_sections(section_id);


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: optimization_runs optimization_runs_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.optimization_runs
    ADD CONSTRAINT optimization_runs_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.maintenance_plans(plan_id);


--
-- Name: plan_tasks plan_tasks_block_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plan_tasks
    ADD CONSTRAINT plan_tasks_block_id_fkey FOREIGN KEY (block_id) REFERENCES public.block_windows(block_id);


--
-- Name: plan_tasks plan_tasks_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plan_tasks
    ADD CONSTRAINT plan_tasks_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.maintenance_plans(plan_id) ON DELETE CASCADE;


--
-- Name: plan_tasks plan_tasks_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plan_tasks
    ADD CONSTRAINT plan_tasks_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.maintenance_tasks(task_id);


--
-- Name: railway_sections railway_sections_division_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.railway_sections
    ADD CONSTRAINT railway_sections_division_id_fkey FOREIGN KEY (division_id) REFERENCES public.divisions(division_id) ON DELETE SET NULL;


--
-- Name: railway_sections railway_sections_end_station_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.railway_sections
    ADD CONSTRAINT railway_sections_end_station_id_fkey FOREIGN KEY (end_station_id) REFERENCES public.stations(station_id) ON DELETE SET NULL;


--
-- Name: railway_sections railway_sections_start_station_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.railway_sections
    ADD CONSTRAINT railway_sections_start_station_id_fkey FOREIGN KEY (start_station_id) REFERENCES public.stations(station_id) ON DELETE SET NULL;


--
-- Name: resources resources_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resources
    ADD CONSTRAINT resources_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(department_id);


--
-- Name: simulation_runs simulation_runs_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.simulation_runs
    ADD CONSTRAINT simulation_runs_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(user_id);


--
-- Name: simulation_runs simulation_runs_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.simulation_runs
    ADD CONSTRAINT simulation_runs_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.maintenance_plans(plan_id);


--
-- Name: stations stations_division_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stations
    ADD CONSTRAINT stations_division_id_fkey FOREIGN KEY (division_id) REFERENCES public.divisions(division_id) ON DELETE SET NULL;


--
-- Name: system_settings system_settings_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.users(user_id);


--
-- Name: task_group_members task_group_members_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_group_members
    ADD CONSTRAINT task_group_members_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.maintenance_task_groups(group_id) ON DELETE CASCADE;


--
-- Name: task_group_members task_group_members_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_group_members
    ADD CONSTRAINT task_group_members_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.maintenance_tasks(task_id) ON DELETE CASCADE;


--
-- Name: traffic_forecasts traffic_forecasts_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.traffic_forecasts
    ADD CONSTRAINT traffic_forecasts_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.railway_sections(section_id);


--
-- Name: train_impact_analysis train_impact_analysis_block_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.train_impact_analysis
    ADD CONSTRAINT train_impact_analysis_block_id_fkey FOREIGN KEY (block_id) REFERENCES public.block_windows(block_id);


--
-- Name: train_impact_analysis train_impact_analysis_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.train_impact_analysis
    ADD CONSTRAINT train_impact_analysis_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.maintenance_plans(plan_id) ON DELETE CASCADE;


--
-- Name: train_schedules train_schedules_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.train_schedules
    ADD CONSTRAINT train_schedules_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.railway_sections(section_id);


--
-- Name: train_schedules train_schedules_train_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.train_schedules
    ADD CONSTRAINT train_schedules_train_id_fkey FOREIGN KEY (train_id) REFERENCES public.trains(train_id);


--
-- Name: trains trains_train_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trains
    ADD CONSTRAINT trains_train_type_id_fkey FOREIGN KEY (train_type_id) REFERENCES public.train_types(train_type_id);


--
-- Name: user_sessions user_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: users users_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(department_id) ON DELETE SET NULL;


--
-- Name: what_if_scenarios what_if_scenarios_base_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.what_if_scenarios
    ADD CONSTRAINT what_if_scenarios_base_plan_id_fkey FOREIGN KEY (base_plan_id) REFERENCES public.maintenance_plans(plan_id);


--
-- Name: what_if_scenarios what_if_scenarios_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.what_if_scenarios
    ADD CONSTRAINT what_if_scenarios_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(user_id);


--
-- PostgreSQL database dump complete
--

\unrestrict pwebZuDVcUJdmFpIhaLb3xi1cx1NR7dB48ffe9CYDaTNHFXL3wZkYLZU5AMMEFG

