--
-- PostgreSQL database dump
--

\restrict oR1S7HLFZtnZcDmndPkIceOzK8DAhcOUrgMHNdFXbDjVHgogX9hTerAVKU2nKeI

-- Dumped from database version 18.6
-- Dumped by pg_dump version 18.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: ai_models; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: asset_categories; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: railway_zones; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.railway_zones (zone_id, zone_code, zone_name, headquarters, is_active, created_at) FROM stdin;
1	SR	Southern Railway	Chennai	t	2026-09-03 22:54:13.988501
6	NR	Northern Railway	Baroda House, New Delhi	t	2026-09-04 13:22:57.871167
\.


--
-- Data for Name: divisions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.divisions (division_id, zone_id, division_code, division_name, headquarters, is_active, created_at) FROM stdin;
1	1	MAS	Chennai Division	Chennai	t	2026-09-03 22:54:13.988501
6	6	DLI	Delhi Division	State Entry Road, New Delhi	t	2026-09-04 13:22:57.871167
\.


--
-- Data for Name: stations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: railway_sections; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: assets; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: defects; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: maintenance_tasks; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ai_priority_predictions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ai_priority_predictions (prediction_id, task_id, model_id, model_name, model_version, predicted_score, predicted_priority, confidence_score, feature_data, explanation, prediction_time) FROM stdin;
\.


--
-- Data for Name: api_request_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_request_logs (request_id, user_id, endpoint, http_method, status_code, response_time_ms, ip_address, created_at) FROM stdin;
\.


--
-- Data for Name: asset_sensor_readings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.asset_sensor_readings (reading_id, asset_id, sensor_type, sensor_value, unit, threshold_min, threshold_max, anomaly_detected, reading_time, created_at) FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.audit_logs (audit_id, user_id, action, entity_type, entity_id, old_data, new_data, ip_address, user_agent, created_at) FROM stdin;
\.


--
-- Data for Name: block_windows; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: maintenance_plans; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.maintenance_plans (plan_id, plan_code, plan_name, planning_type, period_start, period_end, status, generated_by, optimization_score, total_tasks, completed_tasks, total_blocks, total_block_minutes, estimated_train_impact, asset_availability_score, block_utilization_score, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: block_approvals; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.block_approvals (approval_id, plan_id, block_id, requested_by, reviewed_by, approval_status, comments, requested_at, reviewed_at) FROM stdin;
\.


--
-- Data for Name: data_sources; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: data_sync_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.data_sync_logs (sync_id, source_id, started_at, completed_at, records_received, records_processed, records_failed, status, error_message) FROM stdin;
\.


--
-- Data for Name: freight_forecasts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: maintenance_compatibility_rules; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: maintenance_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.maintenance_history (history_id, asset_id, task_id, maintenance_date, duration_minutes, work_description, condition_before, condition_after, performed_by, created_at) FROM stdin;
\.


--
-- Data for Name: maintenance_task_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.maintenance_task_groups (group_id, section_id, group_name, compatibility_score, estimated_joint_duration_minutes, estimated_resource_saving, reason, status, created_at) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: optimization_runs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.optimization_runs (optimization_id, plan_id, algorithm_name, algorithm_version, objective_function, input_task_count, input_block_count, constraints_count, execution_time_ms, optimization_score, train_disruption_score, block_utilization_score, asset_availability_score, cross_department_score, status, error_message, started_at, completed_at, result_data) FROM stdin;
\.


--
-- Data for Name: plan_tasks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.plan_tasks (plan_task_id, plan_id, task_id, block_id, scheduled_start, scheduled_end, sequence_number, status, created_at) FROM stdin;
\.


--
-- Data for Name: resources; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.resources (resource_id, department_id, resource_code, resource_name, resource_type, quantity, availability_status, created_at) FROM stdin;
\.


--
-- Data for Name: simulation_runs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.simulation_runs (simulation_id, plan_id, simulation_type, scenario_name, scenario_parameters, total_trains_simulated, affected_trains, total_delay_minutes, average_delay_minutes, maximum_delay_minutes, operational_risk, asset_availability_result, result_summary, created_by, created_at) FROM stdin;
\.


--
-- Data for Name: system_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: task_group_members; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.task_group_members (group_id, task_id) FROM stdin;
\.


--
-- Data for Name: traffic_forecasts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.traffic_forecasts (traffic_forecast_id, section_id, forecast_date, time_slot_start, time_slot_end, expected_train_count, passenger_train_count, freight_train_count, traffic_score, confidence_score, model_version, created_at) FROM stdin;
\.


--
-- Data for Name: train_impact_analysis; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.train_impact_analysis (impact_id, plan_id, block_id, affected_train_count, affected_passenger_count, affected_freight_count, estimated_delay_minutes, passenger_impact_score, freight_impact_score, operational_risk_score, overall_impact_score, risk_level, analysis_details, calculated_at) FROM stdin;
\.


--
-- Data for Name: train_types; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.train_types (train_type_id, type_code, type_name, description) FROM stdin;
1	EXP	Express	Passenger express service
2	SUPERFAST	Superfast	High priority passenger service
3	LOCAL	Local Passenger	Local passenger service
4	FREIGHT	Freight	Goods and freight service
5	SPECIAL	Special	Special operational service
\.


--
-- Data for Name: trains; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: train_schedules; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_sessions (session_id, user_id, token_hash, ip_address, user_agent, expires_at, created_at) FROM stdin;
\.


--
-- Data for Name: what_if_scenarios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.what_if_scenarios (scenario_id, scenario_code, scenario_name, base_plan_id, scenario_type, description, input_parameters, original_plan_score, new_plan_score, improvement_percentage, train_delay_difference, block_utilization_difference, recommended_action, status, created_by, created_at) FROM stdin;
\.


--
-- Name: ai_models_model_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ai_models_model_id_seq', 3, true);


--
-- Name: ai_priority_predictions_prediction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ai_priority_predictions_prediction_id_seq', 1, false);


--
-- Name: api_request_logs_request_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_request_logs_request_id_seq', 1, false);


--
-- Name: asset_categories_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.asset_categories_category_id_seq', 23, true);


--
-- Name: asset_sensor_readings_reading_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.asset_sensor_readings_reading_id_seq', 1, false);


--
-- Name: assets_asset_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.assets_asset_id_seq', 84, true);


--
-- Name: audit_logs_audit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_logs_audit_id_seq', 1, false);


--
-- Name: block_approvals_approval_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.block_approvals_approval_id_seq', 1, false);


--
-- Name: block_windows_block_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.block_windows_block_id_seq', 6, true);


--
-- Name: data_sources_source_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.data_sources_source_id_seq', 5, true);


--
-- Name: data_sync_logs_sync_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.data_sync_logs_sync_id_seq', 1, false);


--
-- Name: defects_defect_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.defects_defect_id_seq', 8, true);


--
-- Name: departments_department_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.departments_department_id_seq', 5, true);


--
-- Name: divisions_division_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.divisions_division_id_seq', 6, true);


--
-- Name: freight_forecasts_forecast_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.freight_forecasts_forecast_id_seq', 13, true);


--
-- Name: maintenance_compatibility_rules_rule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.maintenance_compatibility_rules_rule_id_seq', 5, true);


--
-- Name: maintenance_history_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.maintenance_history_history_id_seq', 1, false);


--
-- Name: maintenance_plans_plan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.maintenance_plans_plan_id_seq', 1, false);


--
-- Name: maintenance_task_groups_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.maintenance_task_groups_group_id_seq', 1, false);


--
-- Name: maintenance_tasks_task_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.maintenance_tasks_task_id_seq', 11, true);


--
-- Name: notifications_notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_notification_id_seq', 3, true);


--
-- Name: optimization_runs_optimization_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.optimization_runs_optimization_id_seq', 1, false);


--
-- Name: plan_tasks_plan_task_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.plan_tasks_plan_task_id_seq', 1, false);


--
-- Name: railway_sections_section_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.railway_sections_section_id_seq', 22, true);


--
-- Name: railway_zones_zone_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.railway_zones_zone_id_seq', 6, true);


--
-- Name: resources_resource_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.resources_resource_id_seq', 1, false);


--
-- Name: simulation_runs_simulation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.simulation_runs_simulation_id_seq', 1, false);


--
-- Name: stations_station_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stations_station_id_seq', 29, true);


--
-- Name: system_settings_setting_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.system_settings_setting_id_seq', 7, true);


--
-- Name: traffic_forecasts_traffic_forecast_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.traffic_forecasts_traffic_forecast_id_seq', 1, false);


--
-- Name: train_impact_analysis_impact_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.train_impact_analysis_impact_id_seq', 1, false);


--
-- Name: train_schedules_schedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.train_schedules_schedule_id_seq', 13, true);


--
-- Name: train_types_train_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.train_types_train_type_id_seq', 5, true);


--
-- Name: trains_train_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.trains_train_id_seq', 13, true);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_id_seq', 35, true);


--
-- Name: what_if_scenarios_scenario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.what_if_scenarios_scenario_id_seq', 1, false);


--
-- PostgreSQL database dump complete
--

\unrestrict oR1S7HLFZtnZcDmndPkIceOzK8DAhcOUrgMHNdFXbDjVHgogX9hTerAVKU2nKeI

